.logo{
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav{
    background-color: white;
    padding-bottom: 10px;
    color: black;
}

.text{
    font: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

body{
    padding-left: 20px;
    padding-right: 20px;
}

p{
    font-family: roboto;
}
.card{
    justify-content: space-between;
    margin-bottom: 30px;
}

footer{
    padding-top:30px;
    padding-bottom: 30px;
   
}

.image{
    padding-top: 20px;
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:active{
    color: red;
}

.btn{
    background: red;
    color: white;
    padding: 10px;
    border-color: white;
}
.btn:hover{
    color: black;
    background-color: red;
    padding:10px;
    border-color: white;
    text-decoration: underline;
}


a:visited{
    color:black;
}

@font-face{
    font-family: Roboto;
    src: url(Roboto.ttf);
}

.bullets{
    font-size: 20px;
    padding-left: 40px;
}

.row{
    padding-left: 60px;
}
.col-sm-9{
    padding-left: 70px;
}